absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
atpublic==2.3
attrs==21.2.0
backcall
bayesian-optimization==1.2.0
beautifulsoup4
bleach==3.3.0
blessings==1.7
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi
chardet
click==8.0.1
cloudpickle==1.6.0
cma==3.1.0
colorama==0.4.4
commonmark==0.9.1
conda
conda-build
conda-package-handling
configobj==5.0.6
cryptography
cycler==0.10.0
debugpy==1.3.0
decorator==4.4.2
defusedxml==0.7.1
dictdiffer==0.8.1
diskcache==5.2.1
distro==1.5.0
dnspython==2.1.0
dpath==2.0.1
dulwich==0.20.23
dvc==2.5.4
EasyProcess==0.3
entrypoints==0.3
filelock
flatten-dict==0.4.0
flufl.lock==3.2
fsspec==2021.6.1
ftfy==6.0.3
funcy==1.16
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
glob2
google-api-core==1.31.0
google-auth==1.32.1
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gpustat==0.6.0
grandalf==0.6
grpcio==1.38.1
gym==0.18.3
hiredis==2.0.0
idna
importlib-metadata==3.10.1
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils
ipywidgets==7.6.3
jedi==0.17.0
Jinja2
joblib==1.0.1
jsonpath-ng==1.5.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
libarchive-c
mailchecker==4.0.10
Markdown==3.3.4
MarkupSafe
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random
mkl-service==2.3.0
msgpack==1.0.2
multidict==5.1.0
nanotime==0.5.2
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nevergrad==0.4.3.post4
notebook==6.4.0
numpy
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
olefile==0.46
opencensus==0.7.13
opencensus-context==0.1.2
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parso
pathspec==0.8.1
pexpect
phonenumbers==8.12.27
pickleshare
Pillow
pkginfo==1.7.0
ply==3.11
prometheus-client==0.11.0
prompt-toolkit
protobuf==3.17.3
psutil
ptyprocess
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser
pydantic==1.8.2
pydot==1.4.2
pygit2==1.6.1
pyglet==1.5.15
Pygments
pygtrie==2.4.2
pyOpenSSL
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks
python-benedict==0.24.0
python-dateutil==2.8.1
python-etcd==0.4.5
python-fsutil==0.5.0
python-slugify==5.0.2
pytz
PyVirtualDisplay==2.2
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
ray==1.4.1
redis==3.5.3
requests
requests-oauthlib==1.3.0
rich==10.6.0
rsa==4.7.2
ruamel-yaml-conda
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.7.1
shortuuid==1.0.1
shtab==1.3.8
six
smmap==4.0.0
soupsieve
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==2.2.0
toml==0.10.2
torch==1.9.0
torchelastic==0.2.0
torchtext==0.10.0
torchvision==0.10.0
tornado==6.1
tqdm
traitlets
typing-extensions
urllib3
voluptuous==0.12.1
wcwidth
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
zipp==3.5.0
